[Unit]
Description=Start Backintime job when the backup disk is mounted
ConditionPathExists=/usr/bin/backintime
Requires=run-media-sergei-ambry.mount
After=run-media-sergei-ambry.mount

[Service]
Type=simple
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ExecCondition=/bin/sh -c 'test ! -e "%h/.local/state/backintime/%N-$(date +%%F)"'
ExecStartPre=/bin/mkdir -p "%h/.local/state/backintime"
ExecStart=/usr/bin/backintime backup
ExecStartPost=/bin/sh -c 'touch "%h/.local/state/backintime/%N-$(date +%%F)"'
TimeoutStopSec=infinity

[Install]
WantedBy=run-media-sergei-ambry.mount
