[Unit]
Description=Remove unneeded data from the restic repository
OnFailure=restic-notify-failure@%n.service

[Service]
Type=oneshot
TimeoutStopSec=4h
EnvironmentFile=%E/restic/%i.conf
ExecCondition=/usr/bin/env restic snapshots --no-lock
ExecStart=/usr/bin/env restic prune
