[Unit]
Description=Restic backup user's home
Documentation=man:restic(1)
Documentation=https://restic.readthedocs.io/en/stable/

Wants=network-online.target
Requires=restic-helper@generate-installed-packages-lists.service restic-helper@exclude-git-repos.service
After=network-online.target restic-helper@generate-installed-packages-lists.service restic-helper@handle-git-repos.service
OnFailure=restic-notify-failure@%n.service

ConditionPathExists=%E/restic/%p.conf
ConditionPathExists=%E/restic/exclude

[Service]
Type=oneshot
TimeoutStopSec=4h
EnvironmentFile=%E/restic/%p.conf
WorkingDirectory=%h
ExecCondition=/usr/bin/env restic snapshots --no-lock
# Not a failure if some files in backup dir cannot be read
SuccessExitStatus=0 3
ExecStart=/bin/sh -c "restic backup \
	--verbose \
	--one-file-system \
	--host=%l \
	--tag=%p,%i \
	--exclude-caches \
	--exclude-file=%E/restic/exclude \
	--exclude-file=%C/restic/exclude-git-repos \
	${MAX_FILE_SIZE:+--exclude-larger-than=$MAX_FILE_SIZE} \
	$RESTIC_BACKUP_ARGS \
	."
ExecStartPost=/bin/sh -c "restic forget \
	--verbose \
	--prune \
	--host=%l \
	--tag=%p,%i \
	${KEEP_LAST:+--keep-last=$KEEP_LAST} \
	${KEEP_HOURLY:+--keep-hourly=$KEEP_HOURLY} \
	${KEEP_DAILY:+--keep-daily=$KEEP_DAILY} \
	${KEEP_WEEKLY:+--keep-weekly=$KEEP_WEEKLY} \
	${KEEP_MONTHLY:+--keep-monthly=$KEEP_MONTHLY} \
	${KEEP_YEARLY:+--keep-yearly=$KEEP_YEARLY} \
	${KEEP_WITHIN:+--keep-within=$KEEP_WITHIN} \
	${KEEP_WITHIN_HOURLY:+--keep-within-hourly=$KEEP_WITHIN_HOURLY} \
	${KEEP_WITHIN_DAILY:+--keep-within-daily=$KEEP_WITHIN_DAILY} \
	${KEEP_WITHIN_WEEKLY:+--keep-within-weekly=$KEEP_WITHIN_WEEKLY} \
	${KEEP_WITHIN_MONTHLY:+--keep-within-monthly=$KEEP_WITHIN_MONTHLY} \
	${KEEP_WITHIN_YEARLY:+--keep-within-yearly=$KEEP_WITHIN_YEARLY} \
	$RESTIC_FORGET_ARGS \
	--group-by=paths"
ExecStartPost=/usr/bin/env restic check
