[Desktop Entry]
Type=Application
Version=1.0
Name=odrive
Comment=odrivestartup script
Exec=/opt/OpenDrive/odrive
StartupNotify=false
Terminal=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
